<!--footer-->
<row class="collapse">
<columns large="12" class="footer">

<!-- social icons-->
<row>
  <columns></columns>
  <columns>
    <center>
    <a href="https://twitter.com/pendomoniumconf?lang=en"><img class="footer-image" src="http://na-ab25.marketo.com/rs/185-LQW-370/images/twiter_icon.png" /></a>
    <a href="https://www.linkedin.com/company/pendo-io/"><img class="footer-image" src="http://na-ab25.marketo.com/rs/185-LQW-370/images/linkedIn_icon.png" /></a>
    <a href="https://www.facebook.com/Pendoio/"><img class="footer-image" src="http://na-ab25.marketo.com/rs/185-LQW-370/images/facebook_icon.png" /></a>
      </center>
  </columns>
  <columns></columns>
</row>
<!--copyright-->
<row>
<columns large="12">
<p class="copyright">
  &copy; Pendo 2017
</p>
</columns>
</row>
</columns>
</row>
