<!--footer-->
<row class="collapse">
<columns large="12" class="footer">
<!--logo row-->
<row>
  <columns large="12">
    <center>
    <p class="footer-text">
      brought to you by
    </p>
    <img src="../assets/img/pendo_white_footer.png" />
    </center>
  </columns>
</row>
<!-- social icons-->
<row>
  <columns></columns>
  <columns>
    <center>
    <a href="#"><img class="footer-image" src="../assets/img/twiter_icon.png" /></a>
    <a href="#"><img class="footer-image" src="../assets/img/linkedIn_icon.png" /></a>
    <a href="#"><img class="footer-image" src="../assets/img/facebook_icon.png" /></a>
      </center>
  </columns>
  <columns></columns>
</row>
<!--copyright-->
<row>
<columns large="12">
<p class="copyright">
  &copy; Pendo 2017
</p>
</columns>
</row>
</columns>
</row>
